

html {
    background: rgb(174, 188, 191); 
    background: -moz-linear-gradient(top,  rgba(130,187,253,100) 0%, rgba(225,285,332,100) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,187,253,100)), color-stop(100%,rgba(225,285,332,100))); 
    background: -webkit-linear-gradient(top,  rgba(130,187,253,100) 0%,rgba(225,285,332,100) 100%);
    background: -o-linear-gradient(top,  rgba(130,187,253,1) 0%,rgba(225,285,332,100) 100%); 
    background: -ms-linear-gradient(top,  rgba(130,187,253,100) 0%,rgba(225,285,332,100) 100%); 
    min-height: 810px;
    font-size: small;
    margin: 0px 200px 0px 200px;
}


#content{
    padding-top: 5px;
}


#loginform
{
    position: absolute;
    left: 35%;
    right: 30%;
    top: 30%;
    bottom: 50%;
    border-radius: 0px 0px 25px 25px;

}




